h1{
    font-family: italic;
    text-decoration: none;
}
.gallery img{
    width: 100%;
    height: 100%;
}
#menu{
    width: 100%;
    height: 40px;
    background-color: black;
    padding-top: 12px;
}
#menu a{
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    
    padding-left: 100px;
    padding-right: 100px;
}

table{
    border-collapse: collapse;
    border-width: 1px;
    border-style: solid;
    
}

